<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coding_Barista | CoBa</title>
  <link rel="stylesheet" href="../static/css/style.css" />
  <!-- 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Lora&display=swap" rel="stylesheet">
</head>
<body>

    <!-- ✅ 네비게이션 -->
  <header class="navbar">
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Me</a></li>
        <li><a href="resume.html">Resume</a></li>
        <li><a href="projects.html">Experience</a></li>
        <li><a href="board.html">Study</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!-- ✅ 풀스크린 배너 (인트로) -->
  <section class="hero">
  <!-- 배경 이미지용 별도 레이어 -->
  <div class="hero-image-overlay"></div>

  <!-- 텍스트 오버레이 -->
  <div class="hero-text-container">
    <h1>Welcome to <span>CoBa</span></h1>
    <p>#Data #Marketing #Beverage</p>
  </div>
  </section>

  <!-- ✅ 푸터 -->
  <footer>
    <p>&copy; 2025 Coding_Barista (CoBa). All rights reserved.</p>
  </footer>

  <script src="../static/js/main.js"></script>
</body>
</html>
